body{
   /* Set line spacing */
   line-height: 1.5;
}


header, nav{
    /* Set padding and margin */
    padding: 10px 20px 15px 12px;
    margin: 10px 20px 15px 12px;

}
nav ul li{
    /* Set display, margin, padding, font-size, background-color */
    display: inline-block;
    margin: 0 10px 0 10px;
    padding: 0 10px 0 10px;
    font-size: 1.2em;
    background-color: #999999;

}

nav a{
    /* Set text decoration*/
    text-decoration: none;
}

a:visited{
    /* Set color */
    color: #000000;
}

nav a.current{
    /* Set text decoration, transformation, and underline properties */
    text-decoration: underline;
    text-decoration-style: wavy;
    text-transform: uppercase;
    text-underline-offset: 5px;
    color:blue;

}


h1{
   /*Set font and font size*/
   font-family: 'Times New Roman', Times, serif;
   font-size: 2.5em;

}

h2{
    /*Set font, font size, and alignment*/
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}

h3{
    /*Set font size*/
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;

}

h1, h2, h3{
    /*Set margin */
    margin: 15px;
}
.grid{
    /*Set width, margin, border properties, background color, and grid properties */
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.grid div{
    /* Set border properties, padding, and background color */
    border: 1px solid #000000;
    border-radius: 20px;
    background-color: #c1c1c1;
    padding: 15px;
    
}

.grid img{
    /* Set width, margin, and display */
    display: block;
    margin: 0 auto;
    width: 90%;
}

.grid div:nth-child(3n+1)  {
    /* Set box shadow */
    }

.grid div:nth-child(3n)  {
    /* Set box shadow */ 
}

.grid div:nth-child(3n+2)  {
     /* Set box shadow */
}
    

p + p {
     /* Set indentation */
  }
  
p{
     /* Set margin */
}


.grid ul li{
    /* Set margin, line-spacing, list styling  */
}

@media (min-width: 769px){
    .grid{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
    .grid img{
        /* Set width, margin, and display */
        display: block;
        margin: 0 auto;
        width: 90%;
        border: 2px solid #000000;
        border-radius: 20px;
    }

}